<div class="qv-product-images" style="opacity: 0"></div>

<div class="qv-content">
  <div class="holder">
    <span class="qv-product-title"></span>

    <h4 class="qv-product-type"></h4>

    <span class="qv-product-price"></span>

    <span class="qv-product-original-price"></span>

    <div class="qv-add-to-cart">
      <div class="qv-product-options"></div>

      <div class="qv-quantity">
        <label>Quantity</label>
        <input type="number" class="qv-quantity" value="1" min="1">
      </div>
      <div class="qv-product-description"></div>
    </div>
    <form method="post" action="/cart/add">
      <input style="display:none;" type="hidden" class="add-to-cart-varId" name="id" value="12345">
      <input min="1" type="number" id="quantity" name="quantity" style="display:none;" value="1">
      <input type="submit" value="Add to cart" class="qv-add-button">
    </form>
    <div class="qv-add-to-cart-response"></div>
  </div>

  <a class="view-product" href=""><button>View Full Product Details</button></a>
</div>
