{% style %}
{% endstyle %}

<div class="main-div">
  <div class="second-div">
    <div class="first-ele">featured products</div>
    <div class="first-ele">featured products</div>
    <div class="first-ele">featured products</div>
    <div class="first-ele">featured products</div>
  </div>
</div>
