{{ 'muscled.css.liquid' | asset_url | stylesheet_tag }}
<style>

</style>
<div class = "muscled{{ section.id }}">
<img src ="{{ section.settings.image1 | image_url }}" >
  <p>{{ section.settings.text1 }} </p>
</div>

{% schema %}
  {
    "name": "Example Section",
    "settings": [
      {
          
      "type": "image_picker",
      "id": "image1",
      "label": "my image"
      },
       {
          
      "type": "richtext",
      "id": "text1",
      "label": "my text"
      }
    ],
     "presets": [
    {
      "name": "Example Section"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}
<script>
  
</script>