<style>
  
</style>
<div class = "section-{{ section.id }}">
<img src ="" >
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": [
      {
          
      "type": "image_picker",
      "id": "image1",
      "label": "my image"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}