<style>
  
</style>
<div class = "section-{{ section.id }}">
<img src ="{{ section.settings.image1 | image_url }}" >
  <p>{{ section.settings.text1 }} </p>
</div>

{% schema %}
  {
    "name": "Example Section",
    "settings": [
      {
          
      "type": "image_picker",
      "id": "image1",
      "label": "my image"
      },
       {
          
      "type": "richtext",
      "id": "text1",
      "label": "my image"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}
<script>
  
</script>